<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System - Doctor Dashboard</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Doctor Dashboard</h1>

    <p>Welcome, Dr. {{ doctor_info[3] }}!</p>

    <div>
        <h2>Profile</h2>
        <p>Name: {{ doctor_info[3] }}</p>
        <p>Specialty: {{ doctor_info[4] }}</p>
        <p>Doctor ID: {{ doctor_info[0] }}</p>
        <p>User ID: {{ doctor_info[1] }}</p>
        <p>Email: {{ doctor_info[5] }}</p> 
    </div>

    <div>
        <h2>Appointment</h2>
        {% if app_info %}
            <table>
                <tr>
                    <th>Patient Name</th>
                    <th>Patient Email</th>
                    <th>Patient Insurance</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
                {% for app in app_info %}
                    <tr>
                        <td>{{ app[0] }}</td>
                        <td>{{ app[1] }}</td>
                        <td>{{ app[2] }}</td>
                        <td>{{ app[3] }}</td>
                        <td>{{ app[4] }}</td>
                    </tr>
                {% endfor %}
            </table>
            
        {% else %}
            <p>No Appointment information available.</p>
        {% endif %}
    </div>

    

    <a href="/login_doctor">Logout</a>
</body>
</html>
