<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System - Doctor Dashboard</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Doctor Dashboard</h1>

    <p>Welcome, Dr. {{ doctor_info[3] }}!</p>

    <div>
        <h2>Profile</h2>
        <p>Name: {{ doctor_info[3] }}</p>
        <p>Specialty: {{ doctor_info[4] }}</p>
        <p>Doctor ID: {{ doctor_info[0] }}</p>
        <p>User ID: {{ doctor_info[1] }}</p>
        <p>Email: {{ doctor_info[5] }}</p> 
    </div>

    <div>
        <h2>Appointment</h2>
        {% if app_info %}
            <table>
                <tr>
                    <th>Patient Name</th>
                    <th>Patient Email</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
                {% for app in app_info %}
                    <tr>
                        <td>{{ app[0] }}</td>
                        <td>{{ app[1] }}</td>
                        <td>{{ app[2] }}</td>
                        <td>{{ app[3] }}</td>
                    </tr>
                {% endfor %}
            </table>
            
        {% else %}
            <p>No Appointment information available.</p>
        {% endif %}
    </div>


    <div>
        <h2>Payment for Patients</h2>
        {% if patient_payment_info %}
            <table>
                <tr>
                    <th>Patient Name</th>
                    <th>Amount</th>
                    <th>Due Date</th>
                    <th>Payment Status</th>
                    <th>Action</th>
                </tr>
                {% for patient in patient_payment_info %}
                    <tr>
                        <td>{{ patient[1] }}</td>
                        <td>{{ patient[2] }}</td>
                        <td>{{ patient[3] }}</td>
                        <td>{{ patient[4] }}</td>
                        <td>
                            <form action="{{ url_for('add_payment', user_id=patient[0]) }}" method="post">

                                <label for="amount">Amount:</label>
                                <input type="number" step="0.01" id="amount" name="amount" required>

                                <label for="dueDate">Due Date:</label>
                                <input type="date" id="dueDate" name="dueDate" required>

                                <input type="hidden" name="doctor_user_id" value="{{ doctor_info[1] }}">

                                <input type="submit" value="Add Payment">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No Patient Payment information available.</p>
        {% endif %}
    </div>

    <a href="/login_doctor">Logout</a>
</body>
</html>
