<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System - Patient Dashboard</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Patient Dashboard</h1>
    <!-- Display patient-specific information retrieved from the database -->
    <p>Welcome,  {{ patient_info[2] }}!</p>

    <div>
        <h2>Profile</h2>
        <p>Name: {{ patient_info[2] }}</p>
        <p>Patient ID: {{ patient_info[0] }}</p>
        <p>User ID: {{ patient_info[1] }}</p>
        <p>Date of Birth: {{ patient_info[3] }}</p>
        <p>Email: {{ patient_info[4] }}</p> 
    </div>

    <div>
        <h2>Insurance Information</h2>
        {% if insurance_details %}
            <table>
                <tr>
                    <th>Insurance ID</th>
                    <th>Provider</th>
                    <th>Coverage Details</th>
                    <th>Action</th>
                </tr>
                {% for insurance in insurance_details %}
                    <tr>
                        <td>{{ insurance[0] }}</td>
                        <td>{{ insurance[2] }}</td>
                        <td>{{ insurance[3] }}</td>
                        <td>
                            <form action="{{ url_for('delete_insurance', insurance_id=insurance[0]) }}" method="post">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No insurance information available.</p>
        {% endif %}
        <form action="{{ url_for('add_insurance', user_id=patient_info[1]) }}" method="post">
            <input type="text" name="InsuranceID" placeholder="Insurance ID">
            <input type="text" name="company" placeholder="Company Name">
            <input type="text" name="cover" placeholder="Coverage Details">
            <input type="submit" value="Add Insurance">
        </form>
    </div>

    <div>
        <h2>Payments Due</h2>
        {% if payment_details %}
            {% for payment in payment_details %}
                <p>Payment ID: {{ payment[0] }} with Amount: {{ payment[1] }} due by {{ payment[3] }}</p>
            {% endfor %}
        {% else %}
            <p>No payment information available.</p>
        {% endif %}
    </div>


    <div>
        <h2>Appointment</h2>
        {% if app_info %}
            <table>
                <tr>
                    <th>Doctor Name</th>
                    <th>Department ID</th>
                    <th>Department Location</th>
                    <th>Doctor Email</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
                {% for app in app_info %}
                    <tr>
                        <td>{{ app[0] }}</td>
                        <td>{{ app[1] }}</td>
                        <td>{{ app[2] }}</td>
                        <td>{{ app[3] }}</td>
                        <td>{{ app[4] }}</td>
                        <td>{{ app[5] }}</td>
                    </tr>
                {% endfor %}
            </table>
            
        {% else %}
            <p>No Appointment information available.</p>
        {% endif %}
    </div>

    <div>
        <h2>Book an Appointment</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form action="{{ url_for('book_appointment', user_id=patient_info[1]) }}" method="post">
            <label for="doctor">Choose a Doctor:</label>
            <select name="doctor_id" id="doctor">
                {% for doctor in doctors %}
                    <option value="{{ doctor[0] }}">{{ doctor[1] }}</option>
                {% endfor %}
            </select>
    
            <label for="appointment_date">Choose a Date:</label>
            <input type="date" id="appointment_date" name="appointment_date" required>

            <label for="appointment_time">Choose a Time:</label>
            <select name="appointment_time" id="appointment_time">
                {% for time in time_options %}
                    <option value="{{ time }}">{{ time }}</option>
                {% endfor %}
            </select>
    
            <input type="submit" value="Book Appointment">
        </form>
    </div>

    <a href="/login_patient">Logout</a>
</body>
</html>